<div id="businessID">
  <%= form_tag(businesses_path, :method => "get", id: "search-form", class: "form-inline", style: "margin-bottom: 15px;") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Businesses", class: "form-control", style: "width: 85%;", id: "searchInputField" %>
    <%= submit_tag "Search", class: "btn btn-primary", id: "searchSubmitButton" %>
  <% end %>
  <% @businesses.each do |business| %>
    <div id="inside">
      <%= image_tag(business.img_url, width: 100) if business.img_url.present? %>
      <%= link_to business.name, business_path(business.id), style: "font-size: 18px;" %>
      <p>
        <strong>Address:
        </strong><%= business.address %>,
        <%= business.city %>,
        <%= business.state %>,
        <%= business.zip_code %>
      </p>
      <p>
        <strong>Category:
        </strong><%= business.category %>
      </p>
      <p>
        <strong>Phone number:</strong>
        <a href="tel:?<%= business.phone_number %>"><%= business.phone_number %></a>
      </p>
    </div>
  <% end %>
  <div style="text-align: center;">
    <p><%= paginate @businesses %></p>
  </div>
</div>
