<%= form_with(model: business, local: true) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :business_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :business_address %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :business_category %>
  </div>

  <div class="field">
    <%= form.label :store_id %>
    <%= form.text_field :store_id, id: :business_store_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :business_description %>
  </div>

  <div class="field">
    <%= form.label :owner_name %>
    <%= form.text_field :owner_name, id: :business_owner_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :business_phone_number %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :business_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
