  <div class="col-md-3">
  </div>
  <div class="col-md-6">
<% if @business.name.nil? or @business.name == "" %>
<h2>Edit Business's Profile</h2>
<% else %>
<h2>Edit <%= @business.name %>'s Profile</h2>
<% end %>
<%= simple_form_for(@business, as: @business, url: business_path(@business), html: { method: :patch }) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <%= f.input :name, required: true, autofocus: true %>
  <%= f.input :address, required: true %>
  <%= f.input :city, required: true %>
  <%= f.input :state, required: true %>
  <%= f.input :zip_code, required: true %>
  <%= f.input :category, required: true %>
  <%= f.input :store_id, required: true %>
  <%= f.input :description, required: true %>
  <%= f.input :owner_lname, label: "Owner Last Name", required: true %>
  <%= f.input :owner_fname, label: "Owner First Name", required: true %>
  <%= f.input :phone_number, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :email_2, required: true %>
  <%= f.input :link, required: true %>
  <%= f.input :business_offer_number, required: true %>
  <%= f.label :img_url %>
  <%= f.file_field :img_url, id: :business_img %>
</div>
<div class="form-actions">
  <%= f.button :submit, "Update" %>
</div>
</br>
<% end %>
</div>
  <div class="col-md-3">
  </div>
