<div class="pushDown">
<div id="offerLeft" class="col-md-3"></div>
<div id="offerDisplay" class="col-md-6">
<p id="notice"><%= notice %></p>

</br>
<% if @business.status == "Pending" %>
  <h3>Your status is still pending.</h3>
  <p>Please contact an administrator to get your flag lifted.</p>
  <br>
  <br>
<% end %>

<p>
  <h3><%= @business.name %></h3>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @business.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @business.state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @business.zip_code %>
</p>

<p>
  <strong>Category:</strong>
  <%= @business.category %>
</p>

<p>
  <strong>Store:</strong>
  <%= @business.store_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Owner First Name:</strong>
  <%= @business.owner_fname %>
</p>

<p>
  <strong>Owner Last Name:</strong>
  <%= @business.owner_lname %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @business.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @business.link %>
</p>

<!--
<% if @business.link.blank? %>
<% else %>
<p>
  <%= link_to 'Our Site', extlink2(@business.link) %>
</p>
<% end %>
-->
<!--
<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
-->
</div>
</div>
