<div id="feedID">

  <% @offers.each do |offer| %>
    <div id="inside">
      <td><%= image_tag(offer.img_url, width: 100) if offer.img_url.present? %></td>
      <strong><%= offer.name %></strong><!--<br />-->
      <p>
        <%= offer.description %>
      </p>
      <span id="offerDate" style="float: right"><%= offer.created_at %></span><!--<br />--->
      <%= html_button_to fa_icon(:heart), line_items_path(offer_id: offer), :id => 'feedButtonNotLiked' %>
    </div>
  <% end %>
</div>
