<div id="feedID">

  <% @offers.each do |offer| %>
    <div id="inside">
      <% test = offer.business_id %>
      <% @businesses_all.each do |bizall| %>
        <% if test == bizall.id %>
          <%= link_to image_tag(bizall.img_url, width: 100), business_url(test) %>
        <% end %>
      <% end %>
      <p style="float: right; color: #adafb2;">
        <%= offer.offering_type %>
      </p>
      <br>
      <br>
      <p style="font-size: 16px;">
        <%= offer.description %>
      </p>
      <td><%= link_to image_tag(offer.img_url, id: "offerImage"), offer_path(offer.id) %></td>
      <br>
      <br>
      <span id="offerDate" style="float: right"><%= offer.created_at %></span><!--<br />--->
      <% if current_account.accountable_type == "User" %>
        <% if current_account.voted_for? offer %>
          <%= link_to '', unlike_offer_path(offer.id), method: :put, remote: true,
                    id: "like_#{offer.id}",
                    class: "glyphicon glyphicon-heart" %>
        <% else %>
          <%= link_to '', like_offer_path(offer.id), method: :put, remote: true,
                    id: "like_#{offer.id}",
                    class: "glyphicon glyphicon-heart-empty" %>
        <% end %>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
