<p id="notice"><%= notice %></p>
<% if current_account.sign_in_count == 1 && current_account.accountable_type == "User" %>
  <% controller.redirect_to edit_user_path(current_account.accountable_id) %>
<% end %>
<div class="container-fluid" id="hero">
  <div class="col-md-3 favsPartial">
    <% if account_signed_in? %>
      <% if current_account.accountable_type == "User" %>
        <%= render 'favs_partial' %>
      <% elsif current_account.accountable_type == "Business" %>
        <%= render 'my_listings' %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="row">
      <%= render 'feed_partial' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row" id="comp1">
      <h3>Popular Listings</h3>
      <%= render 'popularity_component' %>
    </div>
  </div>
</div>
