<div id="feedID">

  <% @offers.each do |offer| %>
    <div id="inside">
      <td><%= image_tag(offer.img_url, width: 100) if offer.img_url.present? %></td>
      <strong><%= link_to offer.name, offer_path(offer.id) %></strong><!--<br />-->
      <p>
        <%= offer.description %>
      </p>
      <span id="offerDate" style="float: right"><%= offer.created_at %></span><!--<br />--->
      <% if current_account.accountable_type == "User" %>
        <% if current_account.voted_for? offer %>
          <%= link_to '', unlike_offer_path(offer.id), method: :put, remote: true,
                    id: "like_#{offer.id}",
                    class: "glyphicon glyphicon-heart" %>
        <% else %>
          <%= link_to '', like_offer_path(offer.id), method: :put, remote: true,
                    id: "like_#{offer.id}",
                    class: "glyphicon glyphicon-heart-empty" %>
        <% end %>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
