<div class="col-md-3">
</div>
<div class="col-md-6">
<% if @user.name.nil? or @user.name == "" %>
<h2>Edit User's Profile</h2>
<% else %>
<h2>Edit <%= @user.name %>'s Profile</h2>
<% end %>

<%= simple_form_for(@user, as: @user, url: user_path(@user), html: { method: :patch }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :mil_branch, required: true, label: "Military Branch", placeholder: "Air Force, Army, Coast Guard, Navy, Marines"%>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
</div>
<div class="col-md-3">
</div>
