<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coupon.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @coupon.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @coupon.end_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @coupon.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coupon.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @coupon.location %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
