<div class="col-md-3"></div>
<div class="col-md-6 text-center">
</br>

<div class="form-group">
<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "float: left;" %>
    <%= form.text_field :name, id: :offer_name, class: "form-control" %>
  </div>
</br>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :offer_start_date %>
  </div>
</br>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :offer_end_date %>
  </div>
</br>

  <div class="field">
    <%= form.label :category, style: "float: left;" %>
    <%= form.text_field :category, id: :offer_category, placeholder: "i.e. Food, Entertainment", class: "form-control" %>
  </div>
</br>

  <div class="field">
    <%= form.label :description, style: "float: left;" %>
    <%= form.text_area :description, id: :offer_description, rows: 2, cols: 35, class: "form-control" %>
  </div>
</br>

  <div class="field">
    <%= form.label :offering_type, style: "float: left;" %>
    <%= form.select :offering_type, ['Coupon', 'Discount', 'Event'] %>
  </div>
</br>

  <div class="field">
    <%= form.label :img_url, style: "float: left;" %>
    <%= form.file_field :img_url, id: :offer_img %>
  </div>
</br>

  <div class="field">
    <%= form.label :event_url, style: "float: left;" %>
    <%= form.text_field :event_url, id: :offer_event_url, placeholder: "Optional", class: "form-control" %>
  </div>
</br>

<div class="disclaimer">
  <h4>Disclaimer</h4>
  <p>Please note, any new listing posted to this site must be suitable for all audiences. No use of profanity or inappropriate images will be tolerated. Please take the time to review your listing now before submitting.</p>
</div>

<div class="field">
  <%= form.check_box :agree, required: true, as: :boolean%>
</div>
<p>
  Acknowledge
</p>
</br>

  <div class="actions">
    <%= form.submit %>
  </div>
  </br>
<% end %>
</div>
</div>
<div class="col-md-3">
</div>
