<div class="pushDown">
<p id="notice"><%= notice %></p>

<h1>Offers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Category</th>
      <th>Description</th>
      <th>Location</th>
      <th>Business</th>
      <th>Offering type</th>
      <th>Img url</th>
      <th>Event url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.name %></td>
        <td><%= offer.start_date %></td>
        <td><%= offer.end_date %></td>
        <td><%= offer.category %></td>
        <td><%= offer.description %></td>
        <td><%= offer.location %></td>
        <td><%= offer.business_id %></td>
        <td><%= offer.offering_type %></td>
        <td><%= image_tag(offer.img_url, width: 100) if offer.img_url.present? %></td>
        <!--<td><%= offer.img_url %></td>-->
        <td><%= offer.event_url %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
<div class="pushDown">
