<div class="pushDown">
<p id="notice"><%= notice %></p>
<div id="offerLeft" class="col-md-3"></div>
<div id="offerDisplay" class="col-md-6">
<p id="offerImage">
  <%= image_tag(@offer.img_url, width: 400) if @offer.img_url.present? %>
</p>
</br>
<p id = "offerTitle">
    <strong><%= @offer.name %></strong>
</p>

<p>
  <%= html_button_to fa_icon(:heart), line_items_path(offer_id: @offer), :id => 'feedButtonNotLiked', remote: true %>
</p>

<p>
  <%= @offer.offering_type %>
</p>

<p>
  <%= @offer.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @offer.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @offer.end_date %>
</p>

<p>
  <%= @offer.location %>
</p>

<p>
  <%= @offer.business_id %>
</p>

<p>
  <%= @offer.event_url %>
</p>

<!--<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
-->
</div>
<div id="offerRight" class="col-md-3"></div>
</div>
