<div class="pushDown">
<p id="notice"><%= notice %></p>
<div id="offerLeft" class="col-md-3"></div>
<div id="offerDisplay" class="col-md-6">
<p id="offerImage">
  <%= image_tag(@offer.img_url, width: 400) if @offer.img_url.present? %>
</p>
</br>

<p id = "offerTitle">
    <strong><%= @offer.name %></strong>
</p>

<!--
  <%= link_to like_offer_path(@offer), class: "like-btn", method: :put, remote: :true do %>
    <div>
      <span><p><i class="fa fa-heart"></i></p></span>
    </div>
  <% end %>
-->

<% if current_account.voted_for? @offer %>
  <%= link_to '', unlike_offer_path(@offer.id), method: :put, remote: true,
              id: "like_#{@offer.id}",
              class: "glyphicon glyphicon-heart" %>
<% else %>
  <%= link_to '', like_offer_path(@offer.id), method: :put, remote: true,
              id: "like_#{@offer.id}",
              class: "glyphicon glyphicon-heart-empty" %>
<% end %>

<!--  <span class="likes-count"><%= @offer.get_upvotes.size %></span> -->

<p>
  <%= @offer.offering_type %>
</p>

<p>
  <%= @offer.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @offer.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @offer.end_date %>
</p>

<p>
  <%= @offer.location %>
</p>

<p>
  <%= @offer.business_id %>
</p>

<p>
  <%= @offer.event_url %>
</p>

<div id="businessCode">
  <%= simple_form_for @offer, :url => check_code_offer_url, :method => 'post' do |f| %>
    <div class="form-inputs form-inline">
      <!--<%= text_field_tag :id_input %>-->
      <%= f.input :test, label: false, placeholder: 'Code: i.e. 123', label_html: { class: 'discountInput' }, required: false, autofocus: true %>
      <%= f.button :submit, "Use Offer", label_html: { class: 'discountSubmit' } %>
    </div>
  <% end %>
</div>

<button id="codeButtonShow" type="button">Enter Code</button>

<!--<p>
  <%= link_to 'Print', offers_path %>
<p>
<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
-->
</div>
<div id="offerRight" class="col-md-3"></div>
</div>
