<div class="pushDown">
<p id="notice"><%= notice %></p>
<div id="offerLeft" class="col-md-3"></div>
<div id="offerDisplay" class="col-md-6">
<p id="offerImage">
  <%= image_tag(@offer.img_url, width: 400) if @offer.img_url.present? %>
</p>
</br>

<p id = "offerTitle">
    <strong><%= @offer.name %></strong>
</p>

<% if current_account.accountable_type == "User" %>
<% if current_account.voted_for? @offer %>
  <%= link_to '', unlike_offer_path(@offer.id), method: :put, remote: true,
              id: "like_#{@offer.id}",
              class: "glyphicon glyphicon-heart" %>
<% else %>
  <%= link_to '', like_offer_path(@offer.id), method: :put, remote: true,
              id: "like_#{@offer.id}",
              class: "glyphicon glyphicon-heart-empty" %>
<% end %>
<% end %>

<p>
  <%= @offer.offering_type %>
</p>

<p>
  <%= @offer.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @offer.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @offer.end_date %>
</p>

<p>
  <%= @offer.location %>
</p>

<% if @offer.event_url.present? %>
<p>
  <%= link_to 'Event Link', extlink(@offer.event_url) %>
</p>
<% end %>

<div id="businessCode">
  <% if current_account.accountable_type == "User" %>
  <%= simple_form_for @offer, :url => check_code_offer_url, :method => 'post' do |f| %>
    <div class="form-inputs form-inline">
      <%= f.input :test, label: false, placeholder: 'Code: i.e. 123', label_html: { class: 'discountInput' }, required: false, autofocus: true %>
      <%= f.button :submit, "Use Offer", label_html: { class: 'discountSubmit' } %>
    </div>
  <% end %>
</div>

<button id="codeButtonShow" type="button">Enter Code</button>
  <% end %>

</div>
<div id="offerRight" class="col-md-3"></div>
</div>
