<div class="pushDown">
<p id="notice"><%= notice %></p>
<div id="offerLeft" class="col-md-3"></div>
<div id="offerDisplay" class="col-md-6">
<p id="offerImage">
  <%= image_tag(@offer.img_url, width: 400) if @offer.img_url.present? %>
</p>
</br>

<% puts "!!!" %>
<% puts "BEFORE TITLE!" %>
<% puts "!!!" %>
<% puts "" %>

<p id = "offerTitle">
    <strong><%= @offer.name %></strong>
</p>

<% puts "!!!" %>
<% puts "AFTER TITLE!" %>
<% puts "!!!" %>
<% puts "" %>

<!--
  <%= link_to like_offer_path(@offer), class: "like-btn", method: :put, remote: :true do %>
    <div>
      <span><p><i class="fa fa-heart"></i></p></span>
    </div>
  <% end %>
-->

<% puts "!!!" %>
<% puts "AFTER COMMENTED OUT!" %>
<% puts "!!!" %>
<% puts "" %>

<% if current_account.voted_for? @offer %>
  <% puts "!!!" %>
  <% puts "if @offer.liked_by current_account" %>
  <% puts "!!!" %>
  <% puts "" %>
  <%= link_to '', unlike_offer_path(@offer.id), method: :put, remote: true,
              id: "like_#{@offer.id}",
              class: "glyphicon glyphicon-heart" %>
<% else %>
  <% puts "!!!" %>
  <% puts "ELSE!!!" %>
  <% puts "!!!" %>
  <%= link_to '', like_offer_path(@offer.id), method: :put, remote: true,
              id: "like_#{@offer.id}",
              class: "glyphicon glyphicon-heart-empty" %>
<% end %>
  <% puts "!!!" %>
  <% puts "OUTSIDE if STATEMENT" %>
  <% puts "!!!" %>

  <span class="likes-count"><%= @offer.get_upvotes.size %></span>

<p>
  <%= @offer.offering_type %>
</p>

<p>
  <%= @offer.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @offer.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @offer.end_date %>
</p>

<p>
  <%= @offer.location %>
</p>

<p>
  <%= @offer.business_id %>
</p>

<p>
  <%= @offer.event_url %>
</p>

<p>
  <%= link_to 'Print', offers_path %>
<p>
<!--<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
-->
</div>
<div id="offerRight" class="col-md-3"></div>
</div>
