<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discount.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @discount.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @discount.end_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @discount.category %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
