<p id="notice"><%= notice %></p>

<p>
  <strong>Coupon:</strong>
  <%= @line_item.coupon %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @line_item.discount %>
</p>

<p>
  <strong>Event:</strong>
  <%= @line_item.event %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @line_item.favorite %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
