<footer class="footer navbar-fixed-bottom" id="footer">
  <div class="positioner">
    <ul>
      <li class="<%= 'active' if current_page?(feed_index_path) %>"><%= link_to "", feed_index_path, :class => "fa fa-home", :id => "rssToggle" %></li>
      <li class="<%= 'active' if current_page?(searches_index_path) %>"><%= link_to "", searches_index_path, :class => "fa fa-search", :id => "searchToggle" %></li>
      <li class="<%= 'active' if current_page?(my_favorites_path) %>"><%= link_to "", my_favorites_path, :class => "fa fa-heart", :id => "starToggle" %></li>
      <li class="<%= 'active' if current_page?(businesses_path) %>"><%= link_to "", businesses_path, :class => "fa fa-building", :id => "businessToggle" %></li>
    </ul>
  </div>
</footer>
