<ul class="nav navbar-nav pull-right">
  <% if account_signed_in? %>
    <% if current_account.accountable_type == "User" %>
        <li><%= link_to "Businesses", businesses_path %></li>
        <li><%= link_to "Search", searches_index_path %></li>
    <% else %>
        <li><%= link_to "New Offer", new_offer_path %></li>
        <li><%= link_to "Search", searches_index_path %></li>
    <% end %>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
        Settings (<%= (current_account.accountable.name.nil? or current_account.accountable.name == "") ? "No Name" : current_account.accountable.name %>)
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if current_account.accountable_type == "Business" %>
          <li><%= link_to 'Business Profile', edit_business_path(current_account.accountable_id) %></li>
        <% else %>
          <li><%= link_to 'User Profile', edit_user_path(current_account.accountable_id) %></li>
        <% end %>
        <li><%= link_to 'Account Settings', edit_account_registration_path %></li>
      </ul>
    </li>

    <li role="presentation" class="dropdown">
    	<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    	   Resources <span class="caret"></span>
      </a>
    <ul class="dropdown-menu">
    	<% if current_account.accountable_type == "Business" %>
    	<li><%= link_to 'My Offers', business_offers_path(current_account.accountable_id) %></li>
    	<% else %>
      <li><%= link_to 'My Favorites', favorite_path(current_account.accountable_id) %>
    	<% end %>
    </ul>
    </li>

    <li><%= link_to 'Sign out', destroy_account_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to 'Sign in', new_account_session_path %></li>
    <li><%= link_to 'Sign up', new_account_registration_path %></li>
  <% end %>
</ul>
