<li><%= link_to "Business", businesses_path %></li>
<% if account_signed_in? %>
  <li><%= link_to "Search", searches_index_path %></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
      Settings (<%= (current_account.accountable.name.nil? or current_account.accountable.name == "") ? "No Name" : current_account.accountable.name %>)
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <% if current_account.accountable_type == "Business" %>
          <li><%= link_to 'Business Profile', edit_business_path(current_account.accountable_id) %></li>
        <% else %>
          <li><%= link_to 'User Profile', edit_user_path(current_account.accountable_id) %></li>
        <% end %>
        <li><%= link_to 'Account Settings', edit_account_registration_path %></li>
      </ul>
    </li>
      <li><%= link_to 'Sign out', destroy_account_session_path, :method=>'delete' %></li>
      <% else %>
      <li><%= link_to 'Sign in', new_account_session_path %></li>
      <li><%= link_to 'Sign up', new_account_registration_path %></li>
<% end %>
