<header role="banner" class="navbar navbar-fixed-top navbar-inverse" id="banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <div id="logodiv">
        <% if account_signed_in? %>
          <%= link_to feed_index_path do %>
            <span id="logonameMLink">Moodylink</span>
            <span id="logoname"><%= image_tag("Badge2.png") %></span>
          <% end %>
        <% else %>
          <%= link_to home_path do %>
            <span id="logonameMLink">Moodylink</span>
            <span id="logoname"><%= image_tag("Badge2.png") %></span>
            <% end %>
        <% end %>
        <% if account_signed_in? %>
          <%= render 'layouts/navigation_links' %>
        <% else %>
          <div class="pull-right" id="navInput">
            <!--
            <form id="navForm" action="accounts/sign_in" method="POST">
              <input id="navFormInputs" type="text" name="uid" placeholder="Username">
              <input id="navFormInputs" type="password" name="pwd" placeholder="Password">
              <button id="navSubmit" type="submit" name="submit">Login</button>
            </form>
            -->

            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs form-inline">
                <%= f.input :email, label: false, placeholder: 'user@domain.com', label_html: { class: 'navFormInputs' }, required: false, autofocus: true %>
                <%= f.input :password, label: false, placeholder: 'password', label_html: { class: 'navFormInputs' }, required: false %>
                <%= f.button :submit, "Log in", label_html: { class: 'navSubmit' } %>
                <%= f.input :remember_me, label_html: { id: 'RememberMe' }, as: :boolean if devise_mapping.rememberable? %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
