<!DOCTYPE html>
<html>
  <head>
    <title>CMFProgram</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-putteHwI_lN3_b6WAbRdhOmTKC589hU&callback=initMap"
                                       async defer></script>

  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <% if account_signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
