<!DOCTYPE html>
<html>
  <head>
    <title>Certified Moody Friendly Program</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>

    <style>
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
    </style>

  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <% if account_signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
